html {
    font-family: 'Times New Roman', Times, serif, Calibri, Trebuchet, sans-serif;
  }


.nav-wrapper {
display: center;
color: white;
}

.nav .nav-wrapper .brand-logo{
    position: left;
}

h1{
font-size: 10em;
}

h2, h3, h4{
font-size: 2em;  
}

.nav-wrapper .brand-logo{
    position: center;
}

.various{
    position: center;
    text-align: left;
    font-size: 1.5em;
    margin: auto;

    
    

}

.main .container {
    color: white;
    text-align:left;
   
}

.picture{
width:200px;
}

.main .picture{
    align-items:right;
}


